
:root{
    color-scheme: light dark;

    /* DARK MODE */
    --preto-fundo: #000000;
    --preto-pri-plano: #363636;
    --preto-text-pri: #EEEEEE;
    --preto-text-sec: #A7A6A6;    
    
    /* LIGHT MODE */
    --branco-fundo: #FFFFFF;
    --branco-pri-plano: #FFFFFF;
    --branco-text-pri: #262626;
    --branco-text-sec: #ACACAC;
}

@media(prefers-color-scheme: dark){
    :root{
        --cor-fundo: var(--preto-fundo);
        --cor-texto: var(--preto-text-pri);
    }
}

@media(prefers-color-scheme: light){
    :root{
        --cor-fundo: var(--branco-fundo);
        --cor-texto: var(--branco-text-pri);
    }
}

*{
    background: var(--cor-fundo);
    color: var(--cor-texto);
}